h1{
	float:inherit;
	background-color: white;
	border:solid;
	border-color:black;
	color: black;
	margin-left: 33%;
	margin-right:33%;
	text-align: center;
	text-decoration: none;
	}

h2{
	float:inherit;
	background-color: white;
	border:solid;
	border-color:black;
	color: black;
	text-align: left;
	text-decoration: none;
	}

body{
	background-color: beige;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}